* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

header .nav {
  width: 100%;
  height: 60px;
  padding: 15px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
}
header .nav .nav-item {
  white-space: nowrap;
  color: #08A6E4;
  min-width: 50%;
}
header .nav h2 {
  float: left;
  color: #08A6E4;
  min-width: 206px;
  margin: 0;
  font-family: Raleway, sans-serif;
}
header .nav .hamburger-menu {
  float: right;
}
header .nav .hamburger-menu .hamburger-button {
  min-width: 20px;
  margin-top: -15px;
}
header .nav .hamburger-menu .close-hamburger-button {
  display: none;
  min-width: 20px;
  margin-top: -15px;
}
header .nav .hamburger-menu button {
  color: #08A6E4;
  background-color: transparent;
  border: none;
  padding: 15px;
  font-size: 24px;
  cursor: pointer;
}
header .nav .nav-links {
  display: none;
  background-color: white;
  margin-top: 50px;
  clear: both;
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 1;
  left: 0;
  padding: 10px;
}
header .nav .nav-links a {
  display: block;
  padding: 15px;
  color: #08A6E4;
  text-decoration: none;
}

.sell {
  margin: 10px;
  padding: 20px;
  text-align: center;
}
.sell h1,
.sell p {
  text-align: center;
  margin: 16px;
  font-weight: 400;
}
.sell h1 {
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 35px;
  line-height: 1.174;
}
.sell p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
}
.sell button {
  background-color: #08A6E4;
  color: white;
  border-radius: 40px;
  min-width: 310px;
  min-height: 67px;
  font-size: 16px;
  line-height: 1.375;
  font-weight: 700;
  border: none;
}
.sell button:hover {
  cursor: pointer;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
}

.bg-img img {
  width: 100%;
  height: auto;
}

.info {
  margin: 10px;
  padding: 20px;
}
.info h2 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  line-height: 1.16;
  font-family: Raleway, sans-serif;
}
.info .columns {
  margin: 40px 0 80px 0;
}
.info .columns .column {
  margin-top: 20px;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 140px;
  text-align: center;
  font-size: 20px;
  font-family: Raleway, sans-serif;
}
.info .columns .column .column-child {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.info .columns .column .column-child:before {
  position: absolute;
  content: "";
  width: 63px;
  height: 63px;
  border-radius: 50%;
}
.info .columns .column .column-child.red:before {
  background-color: #fb3b64;
}
.info .columns .column .column-child.blue:before {
  background-color: #08a6e4;
}
.info .columns .column .column-child.green:before {
  background-color: #55dfb4;
}
.info .columns .column img {
  width: 55px;
  height: 55px;
  transform: translateX(50%);
  vertical-align: middle;
}
.info .columns .column .div,
.info .columns .column .div1,
.info .columns .column .div2 {
  letter-spacing: 5.96px;
  line-height: 24px;
  font-weight: 800;
  top: 70%;
}
.info .columns .column .div,
.info .columns .column .div1,
.info .columns .column .div2,
.info .columns .column .daily-entries,
.info .columns .column .seen-products-every-container,
.info .columns .column .added-posts-daily-container {
  position: absolute;
  z-index: 1;
  margin-top: 10px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.info .columns .column .daily-entries,
.info .columns .column .seen-products-every-container,
.info .columns .column .added-posts-daily-container {
  font-size: 17px;
  line-height: 20px;
  top: 90%;
  color: #a5a5a5;
}

.description {
  background-color: #F7F7F7;
  padding: 10px;
}
.description .trumpet-li {
  padding: 0;
  overflow: hidden;
}
.description .trumpet-li .description-text {
  padding: 20px;
}
.description .trumpet-li.desc {
  margin-bottom: 0;
}
.description .trumpet-li.img {
  margin-top: 0;
}
.description li {
  list-style: none;
  padding: 40px;
  background-color: white;
  margin: 30px;
  position: relative;
}
.description li .description-img-mac,
.description li .description-img-iphone {
  margin-bottom: 20px;
  text-align: center;
  margin: 0 auto;
  align-self: center;
}
.description li .description-img-mac img,
.description li .description-img-iphone img {
  position: relative;
  text-align: center;
  z-index: 2;
}
.description li .description-img-mac {
  position: relative;
  top: 10;
}
.description li .description-img-mac:before {
  text-align: right;
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 45%;
  transform: rotate(45deg) translateY(-80%) translateX(60%);
  background-color: #FB3B64;
  z-index: 1;
}
.description li .description-img-iphone::before {
  position: absolute;
  content: "";
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: #07ace6;
  z-index: 1;
}
.description li .description-text {
  align-self: center;
}
.description li .description-text h3 {
  text-align: left;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.174;
}
.description li .description-text p {
  text-align: left;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 100px;
}
.description li .description-img-trumpet {
  float: right;
  width: 100%;
  height: 200px;
  background-color: #55DFB4;
  border-radius: 5px;
  text-align: center;
  line-height: 200px;
}
.description li .description-img-trumpet img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.pricing {
  text-align: center;
  align-items: center;
  padding-top: 50px;
}
.pricing h2 {
  font-family: Raleway;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.174;
}
.pricing .prices {
  display: inline-block;
  align-items: center;
  text-align: center;
}
.pricing .prices .basic,
.pricing .prices .professional,
.pricing .prices .premium {
  position: relative;
  width: 293px;
  height: 275px;
  text-align: center;
  font-size: 14px;
  margin: 50px 10px;
  cursor: pointer;
}
.pricing .prices .basic .mb-hdd,
.pricing .prices .professional .mb-hdd,
.pricing .prices .premium .mb-hdd {
  position: absolute;
  top: 0;
  left: 21px;
}
.pricing .prices .basic .checkbox-item,
.pricing .prices .professional .checkbox-item,
.pricing .prices .premium .checkbox-item {
  width: 11px;
  height: 11px;
}
.pricing .prices .basic .checkbox,
.pricing .prices .professional .checkbox,
.pricing .prices .premium .checkbox {
  position: absolute;
  top: 4px;
  left: 0;
  width: 11px;
  height: 11px;
}
.pricing .prices .basic .cross-child,
.pricing .prices .professional .cross-child,
.pricing .prices .premium .cross-child {
  top: 0;
  left: 0;
  border-radius: 2px;
  border: 1px solid #eb476e;
  box-sizing: border-box;
}
.pricing .prices .basic .cross,
.pricing .prices .basic .cross-child,
.pricing .prices .basic .x,
.pricing .prices .professional .cross,
.pricing .prices .professional .cross-child,
.pricing .prices .professional .x,
.pricing .prices .premium .cross,
.pricing .prices .premium .cross-child,
.pricing .prices .premium .x {
  position: absolute;
  width: 11px;
  height: 11px;
}
.pricing .prices .basic .x,
.pricing .prices .professional .x,
.pricing .prices .premium .x {
  top: calc(50% - 5.5px);
  left: calc(50% - 5.5px);
  line-height: 10px;
  display: inline-block;
}
.pricing .prices .basic .cross,
.pricing .prices .professional .cross,
.pricing .prices .premium .cross {
  top: 4px;
  left: 0;
  font-size: 9px;
  color: #eb476e;
  font-family: Raleway;
}
.pricing .prices .basic .begin,
.pricing .prices .professional .begin,
.pricing .prices .premium .begin {
  top: 16px;
  left: 57px;
}
.pricing .prices .basic .begin,
.pricing .prices .basic .button1,
.pricing .prices .professional .begin,
.pricing .prices .professional .button1,
.pricing .prices .premium .begin,
.pricing .prices .premium .button1 {
  position: absolute;
}
.pricing .prices .basic .button1,
.pricing .prices .professional .button1,
.pricing .prices .premium .button1 {
  top: 225px;
  left: 71.5px;
  width: 150px;
  height: 50px;
  text-align: left;
  font-size: 13px;
  color: #fff;
}
.pricing .prices .basic .basic-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 18px;
  background-color: #fff;
  border: 1px solid #fb3b64;
  box-sizing: border-box;
  width: 293px;
  height: 251px;
}
.pricing .prices .basic .basic1,
.pricing .prices .basic .basic-div {
  position: absolute;
  text-align: left;
  display: inline-block;
}
.pricing .prices .basic .basic1 {
  top: 70px;
  left: 50px;
  font-size: 20px;
  line-height: 24px;
  font-family: Raleway;
  color: #13253b;
  width: 52px;
  font-weight: 700;
}
.pricing .prices .basic .basic-div {
  top: 95px;
  left: 45px;
  font-size: 46px;
  line-height: 64px;
  font-weight: 300;
  color: #fb3b64;
  width: 59px;
}
.pricing .prices .basic .basic-text-1,
.pricing .prices .basic .basic-text-2,
.pricing .prices .basic .basic-text-3 {
  position: absolute;
  top: 25px;
  left: 142px;
  width: 105px;
  height: 19px;
}
.pricing .prices .basic .basic-text-2,
.pricing .prices .basic .basic-text-3 {
  top: 64px;
  width: 108px;
}
.pricing .prices .basic .basic-text-3 {
  top: 103px;
  width: 80px;
}
.pricing .prices .basic .button-inner1,
.pricing .prices .basic .basic-text-4,
.pricing .prices .basic .basic-text-5 {
  position: absolute;
  top: 142px;
  left: 142px;
  width: 136px;
  height: 19px;
}
.pricing .prices .basic .button-inner1,
.pricing .prices .basic .basic-text-5 {
  top: 181px;
  width: 100px;
}
.pricing .prices .basic .button-inner1 {
  top: 0;
  left: 0;
  border-radius: 23px;
  background-color: #eb476e;
  width: 150px;
  height: 50px;
}
.pricing .prices .basic:hover {
  transform: scale(1.1);
}
.pricing .prices .basic:hover .basic-child {
  box-shadow: 5px 10px 27px rgba(235, 71, 109, 0.3215686275);
}
.pricing .prices .basic:hover .button-inner1 {
  box-shadow: 5px 10px 14px rgba(235, 71, 109, 0.3215686275);
}
.pricing .prices .professional .professional-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 18px;
  background-color: #fff;
  border: 1px solid #07ace6;
  box-sizing: border-box;
  width: 293px;
  height: 251px;
}
.pricing .prices .professional .professional1 {
  position: absolute;
  top: 70px;
  left: 20px;
  font-size: 20px;
  line-height: 24px;
  font-family: Raleway;
  color: #13253b;
  width: 52px;
}
.pricing .prices .professional .professional-div {
  position: absolute;
  display: inline-block;
  top: 95px;
  left: 30px;
  font-size: 46px;
  line-height: 64px;
  font-weight: 300;
  color: #07ace6;
  width: 59px;
}
.pricing .prices .professional .limited-offer {
  position: absolute;
  top: 150px;
  left: 30px;
  font-size: 12px;
  font-family: Raleway;
  color: #13253b;
}
.pricing .prices .professional .pro-text-1 {
  position: absolute;
  top: 25px;
  left: 142px;
  width: 129px;
  height: 19px;
  text-align: center;
}
.pricing .prices .professional .pro-text-2 {
  position: absolute;
  top: 64px;
  left: 142px;
  width: 105px;
  text-align: right;
}
.pricing .prices .professional .pro-text-3 {
  position: absolute;
  top: 103px;
  left: 142px;
  width: 115px;
  text-align: center;
}
.pricing .prices .professional .pro-text-4 {
  position: absolute;
  top: 142px;
  left: 142px;
  width: 80px;
  text-align: center;
}
.pricing .prices .professional .pro-text-5 {
  position: absolute;
  top: 181px;
  left: 142px;
  width: 100px;
  text-align: center;
}
.pricing .prices .professional .button-inner2 {
  position: absolute;
  top: 0;
  left: 0.5px;
  border-radius: 23px;
  background-color: #07ace6;
  width: 150px;
  height: 50px;
}
.pricing .prices .professional .begin1,
.pricing .prices .professional .button2 {
  position: absolute;
  top: 16px;
  left: 57px;
}
.pricing .prices .professional .button2 {
  top: 225px;
  left: 71.5px;
  width: 150px;
  height: 50px;
  text-align: left;
  font-size: 13px;
  color: #fff;
}
.pricing .prices .professional:hover {
  transform: scale(1.1);
}
.pricing .prices .professional:hover .professional-child {
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
}
.pricing .prices .professional:hover .button-inner2 {
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
}
.pricing .prices .premium .premium-child {
  position: relative;
  border-radius: 18px;
  background-color: #fff;
  border: 1px solid #55dfb4;
  box-sizing: border-box;
  width: 293px;
  height: 251px;
}
.pricing .prices .premium .premium1 {
  top: 70px;
  left: 31px;
  font-size: 20px;
  line-height: 24px;
  font-family: Raleway;
  color: #13253b;
}
.pricing .prices .premium .premium-div,
.pricing .prices .premium .limited-offer1,
.pricing .prices .premium .premium1 {
  position: absolute;
  text-align: left;
}
.pricing .prices .premium .premium-div {
  top: 88.23px;
  left: 35px;
  font-size: 46px;
  line-height: 62px;
  font-weight: 300;
  color: #55dfb4;
  display: inline-block;
  width: 79px;
}
.pricing .prices .premium .limited-offer1 {
  top: 145.23px;
  left: 38px;
  font-size: 12px;
  font-family: Raleway;
  color: #13253b;
}
.pricing .prices .premium .prem-text-1,
.pricing .prices .premium .prem-text-2 {
  position: absolute;
  top: 25px;
  left: 142px;
  width: 87px;
  height: 19px;
}
.pricing .prices .premium .prem-text-2 {
  top: 64px;
  width: 115px;
}
.pricing .prices .premium .button-inner3,
.pricing .prices .premium .prem-text-3,
.pricing .prices .premium .prem-text-4,
.pricing .prices .premium .prem-text-5 {
  position: absolute;
  top: 103px;
  left: 142px;
  width: 88px;
  height: 19px;
}
.pricing .prices .premium .button-inner3,
.pricing .prices .premium .prem-text-4,
.pricing .prices .premium .prem-text-5 {
  top: 142px;
  width: 136px;
}
.pricing .prices .premium .button-inner3,
.pricing .prices .premium .prem-text-5 {
  top: 181px;
  width: 100px;
}
.pricing .prices .premium .button-inner3 {
  top: 0;
  left: 0;
  border-radius: 23px;
  background-color: #55dfb4;
  width: 150px;
  height: 50px;
}
.pricing .prices .premium:hover {
  transform: scale(1.1);
}
.pricing .prices .premium:hover .premium-child {
  box-shadow: 5px 10px 27px rgba(83, 218, 175, 0.308);
}
.pricing .prices .premium:hover .button-inner3 {
  box-shadow: 5px 10px 14px rgba(83, 218, 175, 0.308);
}

.anyQuestions {
  display: block;
  margin: 30px;
}
.anyQuestions h2 {
  font-family: Raleway;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.174;
}
.anyQuestions p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
.anyQuestions .contact-list {
  display: block;
  margin-top: 40px;
}
.anyQuestions .contact-list .mail,
.anyQuestions .contact-list .phone {
  display: block;
  margin: 10px 0;
  min-height: 27px;
}
.anyQuestions .contact-list .mail-text,
.anyQuestions .contact-list .phone-text {
  font-family: "Open Sans", sans-serif;
  color: #A5A5A5;
  display: inline;
  text-align: center;
  vertical-align: middle;
  height: 27px;
  line-height: 27px;
}
.anyQuestions .contact-list .mail-item,
.anyQuestions .contact-list .phone-item {
  display: inline;
  vertical-align: middle;
  width: 27px;
  height: 27px;
}
.anyQuestions .form-div {
  display: block;
  margin-top: 20px;
}
.anyQuestions .form-div label {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.2;
  letter-spacing: 3.28px;
  color: #08A6E4;
}
.anyQuestions .form-div input {
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid #95989A;
  width: 100%;
}
.anyQuestions .checkbox-div {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.anyQuestions .checkbox-div input {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 24px;
  height: 24px;
}
.anyQuestions .checkbox-div label {
  position: relative;
  top: 0;
  left: 30px;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  color: #707070;
  white-space: wrap;
  width: 90%;
  text-align: justify;
}
.anyQuestions .form-btn-div {
  text-align: right;
}
.anyQuestions .form-btn-div input {
  width: 226px;
  height: 57px;
  border-radius: 35px;
  border: none;
  background-color: #08A6E4;
  color: #fff;
  margin: 10px;
  font-size: 13px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.anyQuestions .form-btn-div input:hover {
  transform: scale(1.01);
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  line-height: 1.3;
  cursor: pointer;
}

.footer {
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}
.footer .footer-left {
  display: inline-block;
  padding: 20px 0 20px 20px;
  margin: 0 auto;
}
.footer .footer-left h5 {
  font-size: 26px;
  font-weight: 300;
  font-family: Raleway, sans-serif;
  line-height: 1.2;
  color: #08A6E4;
}
.footer .footer-left p {
  font-size: 11px;
  line-height: 1.3;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #A5A5A5;
}
.footer .footer-right {
  display: inline-block;
  position: absolute;
  right: 0;
  margin: 20px;
}
.footer .footer-right .footer-icon {
  display: inline-block;
  margin: 10px;
}
.footer .footer-right .footer-icon img:hover {
  cursor: pointer;
}

@media screen and (min-device-width: 1124px) {
  header {
    display: flex;
  }
  header .nav {
    display: flex;
    align-items: center;
  }
  header .nav .hamburger-menu {
    display: none;
  }
  header .nav .hamburger-button {
    display: none;
  }
  header .nav .nav-links {
    display: flex;
    background-color: transparent;
    position: static;
    margin-top: 0;
    padding: 0;
    margin-left: auto;
    justify-content: space-around;
  }
  header .nav .nav-links a {
    font-size: 11px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #A5A5A5;
    letter-spacing: 3.28px;
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: 700;
  }
  header .nav .nav-links a:hover {
    color: #000;
    border-bottom: 3px solid #08A6E4;
  }
  .sell h1 {
    margin: 30px;
  }
  .sell p,
  .sell button {
    margin: 20px;
  }
  .pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pricing .prices {
    display: flex;
    justify-content: space-between;
    max-width: 1266px;
  }
  .pricing .prices .basic,
  .pricing .prices .professional,
  .pricing .prices .premium {
    position: relative;
    width: 320px;
    height: 461px;
    margin: 30px;
  }
  .pricing .prices .basic .begin,
  .pricing .prices .professional .begin,
  .pricing .prices .premium .begin {
    top: 16px;
    left: 57px;
  }
  .pricing .prices .basic .begin,
  .pricing .prices .basic .button1,
  .pricing .prices .professional .begin,
  .pricing .prices .professional .button1,
  .pricing .prices .premium .begin,
  .pricing .prices .premium .button1 {
    position: absolute;
  }
  .pricing .prices .basic .button1,
  .pricing .prices .professional .button1,
  .pricing .prices .premium .button1 {
    top: 436px;
    left: 77.5px;
    width: 150px;
    height: 50px;
    text-align: left;
    font-size: 13px;
    color: #fff;
  }
  .pricing .prices .basic .basic-child {
    width: 320px;
    height: 461px;
  }
  .pricing .prices .basic .basic1,
  .pricing .prices .basic .basic-div {
    position: relative;
    text-align: center;
    display: block;
    top: 0;
    left: 0;
    margin: 0 auto;
  }
  .pricing .prices .basic .basic1 {
    padding-top: 30px;
    font-size: 20px;
    width: 100%;
  }
  .pricing .prices .basic .basic-div {
    font-size: 32px;
    line-height: 48px;
    width: auto;
    margin: 0 auto;
    padding: 30px;
  }
  .pricing .prices .basic .basic-text-1,
  .pricing .prices .basic .basic-text-2,
  .pricing .prices .basic .basic-text-3,
  .pricing .prices .basic .basic-text-4,
  .pricing .prices .basic .basic-text-5 {
    position: relative;
    top: 0;
    left: 110px;
    width: auto;
    text-align: center;
    margin: 10px auto;
    padding: 20px;
  }
  .pricing .prices .professional .professional-child {
    width: 320px;
    height: 461px;
  }
  .pricing .prices .professional .professional1,
  .pricing .prices .professional .professional-div,
  .pricing .prices .professional .limited-offer {
    position: relative;
    text-align: center;
    display: block;
    top: 0;
    left: 0;
  }
  .pricing .prices .professional .professional1 {
    padding-top: 30px;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  .pricing .prices .professional .professional-div {
    font-size: 32px;
    line-height: 48px;
    width: auto;
    margin: 0 auto;
    padding: 10px 30px;
  }
  .pricing .prices .professional .limited-offer {
    padding-bottom: 20px;
  }
  .pricing .prices .professional .pro-text-1,
  .pricing .prices .professional .pro-text-2,
  .pricing .prices .professional .pro-text-3,
  .pricing .prices .professional .pro-text-4,
  .pricing .prices .professional .pro-text-5 {
    position: relative;
    top: 0;
    left: 110px;
    width: auto;
    text-align: center;
    margin: 10px auto;
    padding: 20px;
  }
  .pricing .prices .premium .premium-child {
    position: relative;
    width: 320px;
    height: 461px;
  }
  .pricing .prices .premium .premium1,
  .pricing .prices .premium .premium-div,
  .pricing .prices .premium .limited-offer1 {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .pricing .prices .premium .premium1 {
    padding-top: 30px;
    font-size: 20px;
    width: 100%;
    top: 0;
  }
  .pricing .prices .premium .premium-div {
    font-size: 32px;
    line-height: 48px;
    padding: 10px 30px;
    left: 140px;
    top: 55px;
  }
  .pricing .prices .premium .limited-offer1 {
    padding-bottom: 20px;
    top: 125px;
  }
  .pricing .prices .premium .prem-text-1,
  .pricing .prices .premium .prem-text-2,
  .pricing .prices .premium .prem-text-3,
  .pricing .prices .premium .prem-text-4,
  .pricing .prices .premium .prem-text-5 {
    position: absolute;
    top: 160px;
    left: 110px;
    width: 100%;
    text-align: center;
    margin: 10px auto;
    padding: 20px;
  }
  .pricing .prices .premium .prem-text-2 {
    top: 210px;
  }
  .pricing .prices .premium .prem-text-3 {
    top: 260px;
  }
  .pricing .prices .premium .prem-text-4 {
    top: 310px;
  }
  .pricing .prices .premium .prem-text-5 {
    top: 360px;
  }
  .info {
    margin-bottom: 80px;
    padding: 20px;
  }
  .info h2 {
    font-size: 36px;
    line-height: 1.3;
  }
  .info .columns {
    display: flex;
    justify-content: space-around;
    padding: 0 160px;
  }
  .info .columns .column {
    transform: scale(1.2);
  }
  .description ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .description li {
    display: flex;
    justify-content: space-between;
  }
  .description li .description-text h3 {
    margin-bottom: 30px;
  }
  .description li .description-text p {
    margin-bottom: 30px;
  }
  .description li .description-img-trumpet {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: center;
  }
  .description .trumpet-li {
    display: flex;
    margin: 0 0 30px 0;
  }
  .description .trumpet-li .description-text {
    padding: 10px;
  }
  .description .mac-li {
    flex-direction: row-reverse;
    margin-left: 232px;
    margin-right: 232px;
    height: 370px;
    max-width: 1124px;
  }
  .description .iphone-card {
    height: 370px;
  }
  .description .iphone-li {
    margin-left: 232px;
    margin-right: 232px;
    height: 370px;
    max-width: 1124px;
  }
  .description .trumpet-li.desc {
    padding: 30px;
    margin-bottom: 30px;
    width: 100%;
    margin-right: 40px;
  }
  .description .trumpet-li.img {
    margin-left: 0;
    min-width: 300px;
    text-align: center;
  }
  .description .trumpet-card {
    display: flex;
    height: 370px;
    margin-left: 232px;
    margin-right: 232px;
    max-width: 1124px;
  }
  .description .description-text {
    width: 100%;
  }
  .description .description-img-mac,
  .description .description-img-iphone {
    width: 100%;
  }
  .description .description-text.red:after {
    content: "";
    border-bottom: 3px solid #FB3B64;
    width: 70%;
    display: block;
  }
  .description .description-text.blue:after {
    content: "";
    border-bottom: 3px solid #08A6E4;
    width: 70%;
    display: block;
  }
  .description .description-text.green:after {
    content: "";
    border-bottom: 3px solid #55DFB4;
    width: 70%;
    display: block;
  }
  .anyQuestions {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
  }
  .anyQuestions .anyQuestions-left {
    width: 100%;
    margin-left: 200px;
  }
  .anyQuestions .anyQuestions-right {
    margin-right: 200px;
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */