@use "styles/header";
@use "styles/modal";
@use "styles/sell";
@use "styles/bgImg";
@use "styles/info";
@use "styles/pricing";
@use "styles/description";
@use "styles/anyQuestions";
@use "styles/slider";
@use "styles/footer";
@use "styles/returnBtn";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 31.5rem;
}