* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}

//Modal

.modal-container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 7;
}

.modal-span {
    width: 80%;
    background-color: white;
    padding: 3rem;
    border: 1px solid black;
    border-radius: 2rem;
    position: relative;
    box-shadow: 1px 2px 2.5px 0px #07ACE64A;
    margin: 0 1rem;
    scroll-behavior: none;
}

.h2-modal {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;
}

.input-modal {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    outline: none;
    margin-bottom: 3.5rem;
}

.close-modal-btn {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: #eb476e;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background-color: #eb476e;
        color: white;
    }

}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
}

.input-modal-submit {
    cursor: pointer;
    max-width: 7rem;
    padding: .7rem 1.4rem;
    border: none;
    border-radius: 2rem;
    background-color: #08A6E4;
    color: white;
    align-self: center;

    &:hover {
        transform: scale(1.2);
        box-shadow: 1px 2px 2.5px 5px #07ACE64A;

    }
}

// Navigation bar

header {
    position: fixed;
    width: 100%;
    z-index: 4;
    top: 0;
    background-color: #fff;

    .nav {
        width: 100%;
        height: 60px;
        padding: 15px;
        box-shadow: 0px 3px 6px 0px #0000004A;

        .nav-item {
            white-space: nowrap;
            color: #08A6E4;
            min-width: 50%;
        }

        h2 {
            float: left;
            color: #08A6E4;
            min-width: 206px;
            margin: 0;
            font-family: Raleway, sans-serif;
        }

        .hamburger-menu {

            float: right;

            .hamburger-button {
                // display: none;
                min-width: 20px;
                margin-top: -15px;
            }

            .close-hamburger-button {
                display: none;
                min-width: 20px;
                margin-top: -15px;
            }

            button {
                color: #08A6E4;
                background-color: transparent;
                border: none;
                padding: 15px;
                font-size: 24px;
                cursor: pointer;
            }

        }




        .nav-links {
            display: none;
            background-color: white;
            margin-top: 3em;
            clear: both;
            position: absolute;
            background-color: white;
            width: 100%;
            z-index: 1;
            left: 0;
            padding: 10px;
            box-shadow: 0px 4px 4px 0px #0000004A;

            a {
                display: block;
                padding: 10px;
                color: #A5A5A5;
                text-decoration: none;
                font-size: 11px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                letter-spacing: 3.28px;
                line-height: 1em;
                text-transform: uppercase;

                &:hover {
                    color: #000;
                }
            }
        }

    }

    .scroll {
        position: fixed;
        width: 100%;
        background-color: #c7c9ca;
        z-index: 5;

        .scroll-container {

            width: 100%;
            height: .5em;
            background: #d3d0d0;

            .scroll-bar {
                width: 0%;
                height: .5em;
                background: #08A6E4;
            }


        }
    }

}

//Sell section

.sell {
    margin: 1em;
    padding: 2em;
    text-align: center;

    h1,
    p {
        text-align: center;
        font-weight: 400;
    }

    h1 {
        text-align: center;
        font-family: Raleway, sans-serif;
        font-size: 35px;
        line-height: 1.174;
        margin-top: 1.5em;
    }

    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 1.4;
        padding: 1em 0;
        margin-bottom: 1em;
    }

    button {
        background-color: #08A6E4;
        color: white;
        border-radius: 40px;
        min-width: 310px;
        min-height: 67px;
        font-size: 16px;
        line-height: 1.375;
        font-weight: 700;
        border: none;

        &:hover {
            cursor: pointer;
            box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
        }
    }
}

//BG image section

.bg-img {
    img {

        width: 100%;
        height: auto;
    }
}

//Info section

.info {

    margin: 1em;

    padding: 2em;

    h2 {
        font-size: 30px;
        font-weight: 300;
        text-align: center;
        line-height: 1.16;
        font-family: Raleway, sans-serif;
    }


    .columns {
        margin-bottom: 2em;

        .column {
            display: inline-block;
            position: relative;
            width: 100%;
            height: 10rem;
            text-align: center;
            font-size: 20px;
            font-family: Raleway, sans-serif;

            .column-child {
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;

                &:before {
                    position: absolute;
                    content: "";
                    width: 63px;
                    height: 63px;
                    border-radius: 50%;
                }
            }

            .column-child.red:before {
                background-color: #fb3b64;
            }

            .column-child.blue:before {
                background-color: #08a6e4;
            }

            .column-child.green:before {
                background-color: #55dfb4;
            }



            img {
                width: 55px;
                height: 55px;
                transform: translateX(50%);
                vertical-align: middle;

            }

            .person-div,
            .eye-div,
            .catalog-div {
                letter-spacing: 5.96px;
                line-height: 24px;
                font-weight: 800;
                top: 70%;
                margin: 1em 0;
                font-size: 20px;

            }

            .person-div,
            .eye-div,
            .catalog-div,
            .daily-entries,
            .seen-products-every-container,
            .added-posts-daily-container {
                position: absolute;
                z-index: 1;
                margin-top: 10px;
                width: 100%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 3;
            }

            .daily-entries,
            .seen-products-every-container,
            .added-posts-daily-container {

                font-size: 17px;
                line-height: 20px;
                top: 90%;
                color: #a5a5a5;
            }

        }
    }

}

//Description section

.description {
    background-color: #F7F7F7;
    padding: 1em;

    .trumpet-li {
        padding: 0;
        overflow: hidden;

        .description-text {
            padding: 1em;
        }
    }

    .trumpet-li.desc {
        margin-bottom: 0;
    }

    .trumpet-li.img {
        margin-top: 0;
        width: 100%;
    }

    .description-card {
        padding: 2em;
        background-color: white;
        margin: 1em;
        position: relative;



        .description-img-mac,
        .description-img-iphone {
            margin-bottom: 1em;
            text-align: center;
            margin: 0 auto;
            align-self: center;
            transform: scale(1.2);
            padding: 1em 0;

            img {
                position: relative;
                text-align: center;
                z-index: 2;
            }
        }


        .description-img-mac {
            position: relative;
            top: 10;

            &:before {
                text-align: right;
                position: absolute;
                content: "";
                width: 100px;
                height: 100px;
                border-radius: 45%;
                transform: rotate(45deg) translateY(-80%) translateX(60%);
                background-color: #FB3B64;
                z-index: 1;
            }
        }

        .description-img-iphone {
            &::before {
                position: absolute;
                content: "";
                width: 125px;
                height: 125px;
                border-radius: 50%;
                background-color: #07ace6;
                z-index: 1;
            }
        }

        .description-text {
            align-self: center;

            h3 {
                font-family: Raleway, sans-serif;
                text-align: left;
                font-size: 30px;
                font-weight: 400;
                line-height: 1.174;
                margin: 1em 0;
            }

            p {
                text-align: left;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.5;
                margin-bottom: 1em;

            }
        }



        .description-img-trumpet {
            float: right;
            width: 100%;
            height: auto;
            background-color: #55DFB4;
            border-radius: 5px;
            text-align: center;

            img {
                display: inline-block;
                vertical-align: middle;
                max-width: 100%;
                max-height: 100%;

            }
        }
    }

    .description-card.trumpet {
        padding: 0;
        background-color: transparent;

        .description-text {
            background-color: white;
            padding: 2em;
        }

    }

}

//Pricing section

.pricing {

    text-align: center;
    align-items: center;
    padding-top: 50px;

    h2 {
        font-family: Raleway, sans-serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 1.174;
    }

    .prices {
        display: inline-block;
        align-items: center;
        text-align: center;

        .basic,
        .professional,
        .premium {
            position: relative;
            width: 293px;
            height: 275px;
            text-align: center;
            font-size: 14px;
            margin: 50px 10px;
            cursor: pointer;

            .mb-hdd {
                position: absolute;
                top: 0;
                left: 21px;
            }

            .checkbox-item {
                width: 11px;
                height: 11px;
            }

            .checkbox {
                position: absolute;
                top: 4px;
                left: 0;
                width: 11px;
                height: 11px;
            }

            .cross-child {
                top: 0;
                left: 0;
                border-radius: 2px;
                border: 1px solid #eb476e;
                box-sizing: border-box;
            }

            .cross,
            .cross-child,
            .x {
                position: absolute;
                width: 11px;
                height: 11px;
            }

            .x {
                top: calc(50% - 5.5px);
                left: calc(50% - 5.5px);
                line-height: 10px;
                display: inline-block;
            }

            .cross {
                top: 4px;
                left: 0;
                font-size: 9px;
                color: #eb476e;
            }

            .begin {
                top: 16px;
                left: 57px;
            }

            .begin,
            .button1 {
                position: absolute;
            }

            .button1 {
                top: 225px;
                left: 71.5px;
                width: 150px;
                height: 50px;
                text-align: left;
                font-size: 13px;
                color: #fff;
            }
        }


        .basic {
            .basic-child {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 18px;
                background-color: #fff;
                border: 1px solid #fb3b64;
                box-sizing: border-box;
                width: 293px;
                height: 251px;
            }

            .basic1,
            .basic-div {
                position: absolute;
                text-align: left;
                display: inline-block;
            }

            .basic1 {
                top: 70px;
                left: 50px;
                font-size: 20px;
                line-height: 24px;
                font-family: Raleway, sans-serif;
                color: #13253b;
                width: 52px;
                font-weight: 700;
            }

            .basic-div {
                top: 95px;
                left: 45px;
                font-size: 46px;
                line-height: 64px;
                font-weight: 300;
                color: #fb3b64;
                width: 59px;
            }


            .basic-text-1,
            .basic-text-2,
            .basic-text-3 {
                position: absolute;
                top: 25px;
                left: 142px;
                width: 105px;
                height: 19px;
            }

            .basic-text-2,
            .basic-text-3 {
                top: 64px;
                width: 108px;
            }

            .basic-text-3 {
                top: 103px;
                width: 80px;
            }



            .button-inner1,
            .basic-text-4,
            .basic-text-5 {
                position: absolute;
                top: 142px;
                left: 142px;
                width: 136px;
                height: 19px;
            }

            .button-inner1,
            .basic-text-5 {
                top: 181px;
                width: 100px;
            }

            .button-inner1 {
                top: 0;
                left: 0;
                border-radius: 23px;
                background-color: #eb476e;
                width: 150px;
                height: 50px;
            }

        }

        .basic:hover {
            transform: scale(1.1);

            .basic-child {
                box-shadow: 5px 10px 27px #eb476d52;
            }

            .button-inner1 {
                box-shadow: 5px 10px 14px #eb476d52;
            }

        }

        .professional {
            .professional-child {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 18px;
                background-color: #fff;
                border: 1px solid #07ace6;
                box-sizing: border-box;
                width: 293px;
                height: 251px;
            }

            .professional1 {
                position: absolute;
                top: 70px;
                left: 20px;
                font-size: 20px;
                line-height: 24px;
                font-family: Raleway, sans-serif;
                color: #13253b;
                width: 52px;
            }

            .professional-div {
                position: absolute;
                display: inline-block;
                top: 95px;
                left: 30px;
                font-size: 46px;
                line-height: 64px;
                font-weight: 300;
                color: #07ace6;
                width: 59px;
            }

            .limited-offer {
                position: absolute;
                top: 150px;
                left: 30px;
                font-size: 12px;
                font-family: Raleway, sans-serif;
                color: #13253b;
            }


            .pro-text-1 {
                position: absolute;
                top: 25px;
                left: 142px;
                width: 129px;
                height: 19px;
                text-align: center;
            }

            .pro-text-2 {
                position: absolute;
                top: 64px;
                left: 142px;
                width: 105px;
                text-align: right;
            }

            .pro-text-3 {
                position: absolute;
                top: 103px;
                left: 142px;
                width: 115px;
                text-align: center;
            }

            .pro-text-4 {
                position: absolute;
                top: 142px;
                left: 142px;
                width: 80px;
                text-align: center;
            }

            .pro-text-5 {
                position: absolute;
                top: 181px;
                left: 142px;
                width: 100px;
                text-align: center;
            }

            .button-inner2 {
                position: absolute;
                top: 0;
                left: 0.5px;
                border-radius: 23px;
                background-color: #07ace6;
                width: 150px;
                height: 50px;
            }

            .begin1,
            .button2 {
                position: absolute;
                top: 16px;
                left: 57px;
            }

            .button2 {
                top: 225px;
                left: 71.5px;
                width: 150px;
                height: 50px;
                text-align: left;
                font-size: 13px;
                color: #fff;
            }

        }

        .professional:hover {
            transform: scale(1.1);

            .professional-child {
                box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
            }

            .button-inner2 {
                box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
            }
        }

        .premium {
            .premium-child {
                position: relative;
                border-radius: 18px;
                background-color: #fff;
                border: 1px solid #55dfb4;
                box-sizing: border-box;
                width: 293px;
                height: 251px;
            }

            .premium1 {
                top: 70px;
                left: 31px;
                font-size: 20px;
                line-height: 24px;
                font-family: Raleway, sans-serif;
                color: #13253b;
            }

            .premium-div,
            .limited-offer1,
            .premium1 {
                position: absolute;
                text-align: left;
            }

            .premium-div {
                top: 88.23px;
                left: 35px;
                font-size: 46px;
                line-height: 62px;
                font-weight: 300;
                color: #55dfb4;
                display: inline-block;
                width: 79px;
            }

            .limited-offer1 {
                top: 145.23px;
                left: 38px;
                font-size: 12px;
                font-family: Raleway, sans-serif;
                color: #13253b;
            }

            .prem-text-1,
            .prem-text-2 {
                position: absolute;
                top: 25px;
                left: 142px;
                width: 87px;
                height: 19px;
            }

            .prem-text-2 {
                top: 64px;
                width: 115px;
            }

            .button-inner3,
            .prem-text-3,
            .prem-text-4,
            .prem-text-5 {
                position: absolute;
                top: 103px;
                left: 142px;
                width: 88px;
                height: 19px;
            }

            .button-inner3,
            .prem-text-4,
            .prem-text-5 {
                top: 142px;
                width: 136px;
            }

            .button-inner3,
            .prem-text-5 {
                top: 181px;
                width: 100px;
            }

            .button-inner3 {
                top: 0;
                left: 0;
                border-radius: 23px;
                background-color: #55dfb4;
                width: 150px;
                height: 50px;
            }
        }

        .premium:hover {
            transform: scale(1.1);

            .premium-child {
                box-shadow: 5px 10px 27px rgba(83, 218, 175, 0.308);
            }

            .button-inner3 {
                box-shadow: 5px 10px 14px rgba(83, 218, 175, 0.308);
            }
        }
    }
}

.anyQuestions {
    display: block;
    margin: 30px;

    h2 {
        font-family: Raleway, sans-serif;
        font-weight: 400;
        font-size: 40px;
        line-height: 1.174;
    }

    p {

        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
    }

    .contact-list {
        display: block;
        margin-top: 40px;

        .mail,
        .phone {
            display: block;
            margin: 10px 0;
            min-height: 27px;
        }

        .mail-text,
        .phone-text {
            font-family: 'Open Sans', sans-serif;
            color: #A5A5A5;
            display: inline;
            text-align: center;
            vertical-align: middle;
            height: 27px;
            line-height: 27px;
        }

        .mail-item,
        .phone-item {
            display: inline;
            vertical-align: middle;
            width: 27px;
            height: 27px;
        }

    }

    .form-div {
        display: block;
        margin-top: 20px;

        label {
            display: block;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 11px;
            line-height: 1.2;
            letter-spacing: 3.28px;
            color: #08A6E4;
            text-transform: uppercase;
        }

        input {
            margin: 20px 0;
            border: none;
            border-bottom: 1px solid #95989A;
            width: 100%;
            line-height: 2;
        }
    }

    .checkbox-div {
        position: relative;
        display: inline-block;
        white-space: nowrap;

        input {
            display: inline-block;
            position: absolute;
            top: 0;
            width: 24px;
            height: 24px;
        }

        label {
            position: relative;
            top: 0;
            left: 30px;
            display: inline-block;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 1.4;
            color: #707070;
            white-space: wrap;
            width: 90%;
            text-align: justify;
        }
    }

    .form-btn-div {
        text-align: right;

        input {
            width: 226px;
            height: 57px;
            border-radius: 35px;
            border: none;
            background-color: #08A6E4;
            color: #fff;
            margin: 10px;
            font-size: 1rem;
            font-weight: 700;
            font-family: 'Open Sans', sans-serif;
        }

        input:hover {
            transform: scale(1.01);
            box-shadow: 5px 10px 14px 0px #07ACE64A;
            line-height: 1.3;
            cursor: pointer;
        }
    }
}

.return-span-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em 2em;

    .return-btn {
        padding: 1em 2em;
        background-color: #08A6E4;
        color: white;
        border: none;
        border-radius: 3rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 1.4;
        font-size: 1rem;
        width: 20rem;
        height: 5rem;

        &:hover {
            transform: scale(1.01);
            box-shadow: 5px 10px 14px 0px #07ACE64A;
            line-height: 1.3;
            cursor: pointer;
        }
    }
}

.footer {
    box-shadow: 0px -5px 40px 0px #00000033;
    margin-top: 50px;

    .footer-left {
        display: inline-block;
        padding: 1.2em 0 1.2em 2em;
        margin: 0 auto;

        h5 {
            font-size: 26px;
            font-weight: 300;
            font-family: Raleway, sans-serif;
            line-height: 1.2;
            color: #08A6E4;
        }

        p {
            font-size: 11px;
            line-height: 1.3;
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
            color: #A5A5A5;
        }
    }

    .footer-right {
        display: inline-block;
        position: absolute;
        right: 0;
        margin: 1.4em 2em;

        .footer-icon {
            display: inline-block;
            margin: 10px;

            img:hover {
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-device-width:1124px) {

    header {
        display: flex;

        .nav {
            display: flex;
            align-items: center;

            .hamburger-menu {
                display: none;

            }

            .hamburger-button {
                display: none;
            }

            .nav-links {
                display: flex;
                background-color: transparent;
                position: static;
                margin-top: 0;
                padding: 0;
                margin-left: auto;
                justify-content: space-around;
                box-shadow: none;

                a {
                    &:hover {
                        border-bottom: 3px solid #08A6E4;
                    }
                }

            }


        }
    }

    .sell {

        h1 {
            margin-top: 3em;
        }

        p,
        button {
            margin: 1.5em;
        }
    }

    .pricing {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 7em;

        h2 {
            margin-bottom: 50px;
        }

        .prices {
            display: flex;


            .basic,
            .professional,
            .premium {
                position: relative;
                width: 18rem;
                height: 33em;
                margin: 30px;

                .begin {
                    top: 16px;
                    left: 57px;
                }

                .begin,
                .button1 {
                    position: absolute;
                }

                .button1 {
                    top: 436px;
                    left: 5.2em;
                    width: 150px;
                    height: 50px;
                    text-align: left;
                    font-size: 13px;
                    color: #fff;
                }
            }

            .basic {

                .basic-child {
                    width: 18rem;
                    height: 33em;
                }

                .basic1,
                .basic-div {
                    position: relative;
                    text-align: center;
                    display: block;
                    top: 0;
                    left: 0;
                    margin: 0 auto;
                }

                .basic1 {
                    padding-top: 1em;
                    font-size: 20px;
                    width: 100%;
                }

                .basic-div {
                    font-size: 32px;
                    line-height: 48px;
                    width: auto;
                    margin: 0 auto;
                    padding: 1em;
                }

                .basic-text-1,
                .basic-text-2,
                .basic-text-3,
                .basic-text-4,
                .basic-text-5 {
                    position: relative;
                    top: 0;
                    left: 6rem;
                    width: auto;
                    text-align: center;
                    margin: 1em auto;
                    padding: 1.3em;
                }
            }

            .professional {
                .professional-child {
                    width: 18rem;
                    height: 33em;
                }

                .professional1,
                .professional-div,
                .limited-offer {
                    position: relative;
                    text-align: center;
                    display: block;
                    top: 0;
                    left: 0;
                }

                .professional1 {
                    padding-top: 30px;
                    font-size: 20px;
                    text-align: center;
                    width: 100%;
                }

                .professional-div {
                    font-size: 32px;
                    line-height: 48px;
                    width: auto;
                    margin: 0 auto;
                    padding: .5em 1em;
                }

                .limited-offer {
                    padding-bottom: 1.3em;
                }

                .pro-text-1,
                .pro-text-2,
                .pro-text-3,
                .pro-text-4,
                .pro-text-5 {
                    position: relative;
                    top: 0;
                    left: 6rem;
                    width: auto;
                    text-align: center;
                    margin: 1em auto;
                    padding: 1.3em;
                }
            }

            .premium {


                .premium-child {
                    position: relative;
                    width: 18rem;
                    height: 33em;
                }

                .premium1,
                .premium-div,
                .limited-offer1 {
                    text-align: center;
                    position: absolute;
                    left: 9rem;
                    transform: translateX(-50%);
                }

                .premium1 {
                    padding-top: 30px;
                    font-size: 20px;
                    width: 100%;
                    top: 0;
                }

                .premium-div {
                    font-size: 32px;
                    line-height: 48px;
                    padding: 10px 30px;
                    left: 8rem;
                    top: 55px;
                }

                .limited-offer1 {
                    padding-bottom: 20px;
                    top: 125px;
                }

                .prem-text-1,
                .prem-text-2,
                .prem-text-3,
                .prem-text-4,
                .prem-text-5 {


                    position: absolute;
                    top: 160px;
                    left: 6rem;
                    width: 100%;
                    text-align: center;
                    margin: 1em auto;
                    padding: 1.3em;
                }

                .prem-text-2 {
                    top: 210px;
                }

                .prem-text-3 {
                    top: 260px;
                }

                .prem-text-4 {
                    top: 310px;
                }

                .prem-text-5 {
                    top: 360px;
                }
            }

        }
    }

    .info {
        margin-bottom: 10em;
        padding: 1.5em;

        h2 {
            font-size: 36px;
            line-height: 1.3;
            margin-bottom: 1em;
        }

        .columns {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            width: 60%;

            .column {
                transform: scale(1.2);
            }
        }
    }

    .description {
        .description-list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .description-card {
            display: flex;
            justify-content: space-between;
            width: 85%;
            margin: 1rem 0;
            padding: 0;
            height: 26rem;

            .iphone-li,
            .mac-li {
                display: flex;
                align-self: center;
            }

            .description-img-mac {


                &:before {
                    border-radius: 25%;
                }
            }

            .description-img-iphone,
            .description-img-mac {
                transform: scale(1.7);
                width: 100%;
            }



            .description-text {
                padding: 0 2em;
                width: 100%;

                h3 {
                    font-size: 49px;
                    margin-bottom: 2rem;
                    margin-top: 0;

                    .responsive-break {
                        display: none;
                    }
                }

                p {
                    margin-bottom: 3rem;
                }
            }

            .description-img-trumpet {
                display: flex;
                align-items: center;

                width: 100%;
                height: auto;
                justify-content: center;
            }

        }

        .trumpet-li {
            display: flex;
            margin: 0 0 2em 0;

            .description-text {
                padding: 1em;
            }
        }

        .mac-li {
            flex-direction: row-reverse;
            height: 370px;
        }

        .iphone-card {
            height: 370px;
        }

        .iphone-li {

            height: 370px;
        }



        .trumpet-li.desc {
            background-color: white;
            margin-bottom: 2em;
            width: 100%;
            margin-right: 3em;
            padding: 2em;
        }

        .trumpet-li.img {
            margin-left: 0;
            min-width: 300px;
            text-align: center;
            max-width: 40%;
        }

        .description-card.trumpet {
            display: flex;
        }

        .description-card.iphone,
        .description-card.mac {
            justify-content: center;
        }

        .description-text.red:after {
            content: "";
            border-bottom: 3px solid #FB3B64;
            width: 70%;
            display: block;
        }

        .description-text.blue:after {
            content: "";
            border-bottom: 3px solid #08A6E4;
            width: 70%;
            display: block;
        }

        .description-text.green:after {
            content: "";
            border-bottom: 3px solid #55DFB4;
            width: 70%;
            display: block;

        }


    }

    .anyQuestions {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 70%;

        .anyQuestions-left {
            width: 100%;
            margin-left: 1em;
            padding: 1.5em;

            h2 {
                margin-bottom: .5em;
            }

            .contact-list {
                width: 100%;
                display: flex;

                .mail {
                    margin-right: 1em;
                }
            }
        }

        .anyQuestions-right {
            margin-right: 1em;
            width: 100%;
            padding: 1.5em;

            .checkbox-div {
                margin-bottom: 1em;

                label {
                    text-align: left;
                }
            }

        }
    }
}

@media screen and (min-device-width:1600px) {

    .pricing {

        .prices {

            .basic,
            .professional,
            .premium {
                width: 440px;

                .button1 {
                    left: 137.5px;

                }
            }

            .basic {

                .basic-child {
                    width: 440px;
                }

                .basic-text-1,
                .basic-text-2,
                .basic-text-3,
                .basic-text-4,
                .basic-text-5 {
                    left: 150px;
                }
            }

            .professional {
                .professional-child {
                    width: 440px;
                }

                .pro-text-1,
                .pro-text-2,
                .pro-text-3,
                .pro-text-4,
                .pro-text-5 {
                    left: 150px;
                }
            }

            .premium {

                .premium-child {
                    width: 440px;
                }

                .premium-div {
                    left: 195px;
                    top: 55px;
                }

                .limited-offer1,
                .premium1 {
                    left: 210px;
                }

                .prem-text-1,
                .prem-text-2,
                .prem-text-3,
                .prem-text-4,
                .prem-text-5 {
                    left: 150px;
                }
            }

        }
    }

    .description {
        .description-card {
            width: 50%;
        }
    }

    .info {
        .columns {
            width: 50%;
        }
    }

    .anyQuestions {
        width: 40%;
    }
}