.slider-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .slider {
        width: 50%;

        .img-slider {
            width: 100%;
            height: auto;
            border-radius: .25rem;
        }

        .buttons-slider-div {
            padding: 1rem;
            display: flex;
            justify-content: space-around;

            button {
                padding: .5rem;
                background-color: #08A6E4;
                color: white;
                border: none;
                border-radius: .25rem;
                cursor: pointer;
            }

            p {
                padding: .5rem;
                font-family: 'Open Sans', sans-serif;
            }
        }
    }
}

@media screen and (min-device-width:1124px) {
    .slider-section {
        .slider {
            width: 20%;
        }
    }
}